@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.UserRegistration>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<div class="row">
    <div class="col-md-6 container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                @{
                    Html.RenderAction("LoginForm", "User");
                }
                @if (ViewBag.LoginError != null)
                {
                <span>
                   ok  @Emeal.Common.Constants.USER_LOGIN_ERROR
                </span>
                       
                }
            </div>
            </div>
    </div>

    <div class="col-md-6 container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                @{
                    Html.RenderAction("RegistrationForm", "User");
                }
                @if (ViewBag.RegistrationError != null)
                {
                <span>
                  ok  @Emeal.Common.Constants.USER_EXISTS
                </span>
                     
                }
            </div> <!-- col.//-->
        </div> <!-- row.//-->
    </div>
    <!--container end.//-->
</div>

<script>
    function check_pass() {
                            if (document.getElementById('password').value ==
                                document.getElementById('confirm_password').value) {
                                document.getElementById('submit').disabled = false;
                            } else {
                                document.getElementById('submit').disabled = true;
                            }
                          }

  function submitRegistrationData() {
    $.post("/umbraco/surface/User/Registration",
                                        {
                                            name: $("#name").val(),
                                            email: $("#email").val(),
                                            password: $("#password").val()
                                        });
                                    }

  function submitLoginData() {
    $.post("/umbraco/surface/User/Login",
                                {
                                    userName: $("#userName").val(),
                                    password: $("#password").val()
                                });
                            }

</script>


